Source: ros-kinetic-pr2-machine
Section: misc
Priority: extra
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/pr2_machine
Standards-Version: 3.9.2

Package: ros-kinetic-pr2-machine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package contains the xxx.machine files that describe the different hosts a node can be spawned on.
 Currently there is one machine file for the pr2 robot, and one for the simulated pr2 robot.
